site_name: ephaptic
site_description: "Call your backend straight from your frontend. No JSON. Low latency. Invisible middleware. And type-safe."
site_url: https://ephaptic.github.io/ephaptic

theme:
  name: material
  logo: assets/logo.png
  favicon: assets/logo.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: teal
      toggle:
        icon: material/weather-night
        name: Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: teal
      toggle:
        icon: material/weather-sunny
        name: Light Mode
      
  features:
    - content.code.copy
    - content.code.annotate
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

markdown_extensions:
  - admonition
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: .
  - tables
  - mkdocs-click

nav:
  - Home: index.md
  - Tutorial:
    - Intro: tutorial/index.md
    - First Steps: tutorial/first-steps.md
    - Parameters & Pydantic: tutorial/parameters.md
    - Authentication: tutorial/security.md
    - Events: tutorial/events.md
    - The Router: tutorial/router.md
  - Advanced:
    - Deployment: advanced/deployment.md
    - Redis Diagram: diagram.md
    - TanStack Query Integration: advanced/tanstack.md
    - The CLI: advanced/cli.md

extra_css:
  - stylesheets/extra.css